<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TTT</title>

    </head>
    <body >
        <div class=" " style="background-color: #f9f9f9;">
            <div class="nav-pic">
                <div class="top-nav ">
                    <i class="auth-user"></i><span  ng-if="userName !== null">{{userName}} | {{role}}</span>     
                    <div class="list-right">
                        <ul>
                            <li><b id="sysTime"></b></li>
                        </ul>
                        <ul >

                            <li style="width: 50%;float:right;text-align: right" ng-if="userName !== null" ng-click="signOut()" >
                                Logout
                            </li>
                            <li style="width: 50%;" ng-if="userName === null">

                            </li>
                            <li><a ></a></li>

                        </ul><br/>

                    </div>
                </div>
            </div>

            <div class="side-nav">
                <div class="header">
                    <center><b>TUT ATTENDANCE SYSTEM</b></center>
                </div>
                <div class="testing">
                    <div class="item" ng-click="goto('/index')">Home<i class="home-icon"></i></div>
                    <div class="item " ng-click="goto('/addNewCourse')"><i class="add-icon"></i>New course</div>
                    <div class="item " ng-click="goto('/addNewSubject')"><i class="add-icon"></i>New subject</div>
                    <div class="item " ng-click="goto('/RegisterStudent')"><i class="someone-new-icon"></i>Add student</div>
                    <div class="item active" ng-click="displayAllStudents()"><i class="view-list-icon"></i>View students</div>
                    <div class="item active" ng-click="displayAllStudents()"><i class="delete-someone-icon "></i>Remove student</div>
                    <div class="item" ng-click="goto('/registerLecturer')" ><i class="someone-new-icon"></i>Add lecturer</div>
                    <div class="item" ng-click="displayAllLecturers()" ><i class="view-list-icon"></i>View lecturer</div>
                    <div class="item" ng-click="displayAllLecturers()" ><i class="delete-someone-icon"></i>Remove lecturer</div>
                </div>

            </div>
            <div class="container-fluid page-body" >


                <div class="table-responsive well">
                    <div class="input-group search-input">
                        <input placeholder="Search by student number" ng-model="query" ng-keyup="search(allStudents, query)" type="text" class="form-control " aria-describedby="search-query"/>
                        <span class="input-group-addon" id="search-query"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                    <hr/>
                    <div ng-if="allStudents.length === 0" >
                        <h3 ng-click="goto('/RegisterStudent')" class="btn btn-primary">Empty ,Click here to register a student</h3>
                    </div>
                    

                    <div ng-if="allStudents.length !== 0">              
                        <div style="list-style-type: none;width: 100%">
                            <div style="height: 50px;padding: 1%;margin: 1%;">
                                <div style="float: left;width: 20%;">Student Number</div>
                                <div style="float: left;width: 20%;">Surname  Name</div>
                                <div style="float: left;width: 30%;">E-mail Address</div>
                                <div style="float: left;width: 5%;"></div>
                                <div style="float: right;width: 25%;">Additional Functionality</div>

                            </div>

                        </div>
                        <div style="list-style-type: none;margin-top: 1%;width: 100%">

                            <div ng-repeat="student in allStudents" class="row" style="background-color: white;height: 45px;padding: 1%;border-radius: 10px;box-shadow: 1px 1px 10px;margin: 1%;">
                                <div style="float: left;width: 20%;">{{student.studentNumber}}</div>
                                <div style="float: left;width: 20%;">{{student.lastname}} &nbsp; {{student.firstname}}</div>
                                <div style="float: left;width: 30%;">{{student.email}}</div>
                                <div style="float: left;width: 5%;"></div>
                                <div style="float: right;width: 25%;">
                                    <div style="float: left;width: 30%;" >
                                        <a ng-click="edit(student)"><img title="Edit" src="../images/ic_edit_black.png" width="20" height="20" alt="ic_edit_user"/></a>

                                    </div>
                                    <div style="float: left;width: 35%;" >
                                        <a ><img title="View details" src="../images/design_ic_visibility.png" width="20" height="20" alt="ic_edit_user"/></a>

                                    </div>
                                    <div style="float: left;width: 30%;" >
                                        <a ng-click="removeStudent(student)"><img title="Delete student" src="../images/ic_delete.png" width="20" height="20" alt="ic_edit_user"/></a>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div> 
                </div> 
            </div>

        </div>
        <div class="container-fluid page-body" >
            <div class="footer ">
                <div class="left">
                    <a href="#">Home</a>
                    <span>|</span>
                    <a href="#">Support</a>

                    <span>|</span>
                    <a href="#">Contact</a>

                    <div class="right">
                        &copy; 2017 TUT Web Attendance Register.
                        Design by <a href="#" target="_blank" title="TUT attendence register">GROUP J</a>
                    </div> 

                </div>
            </div>

        </div>

    </body>
</html>
