<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title id="title">.</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- CSS library  [Bootstrap] -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>

        <!-- w3 CSS library  [w3] -->
        <link rel="stylesheet" type="text/css" href="css/w3.css"/>
        <!-- Site styles -->
        <link rel="stylesheet" type="text/css" href="css/site_styles.css"/>

        <!-- Angular material libraries -->
        <link rel = "stylesheet" href = "js/material/angular-material.min.css"/>

        <!-- JavaScript libraries [Angular] -->
        <script src="js/angular.js" ></script>
        <script src="js/angular-route.js" ></script>
<!--        <script src = "js/material/angular.min.js"></script>-->
        <script src="js/angular-route.min.js" ></script>
        <!--  -->
        <script src="js/SiteRouteProvider.js" ></script>
        <script src="js/controller.js" ></script>
    </head>
    <body ng-app="AttendenceWebApp">

        <div ng-view="">

        </div>

        <!-- Angular material libraries -->
<!--        
        
        <script src = "js/material/angular-animate.min.js"></script>
        <script src = "js/material/angular-aria.min.js"></script>
        <script src = "js/material/angular-messages.min.js"></script>
        <script src = "js/material/angular-material.min.js"></script>-->
        
    </body>
</html>
