<!DOCTYPE html>
<html lang="en">
    <head>
        <!--169.254.139.184-->
        <title>TUT</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- CSS library  [Bootstrap] -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

        <!-- w3 CSS library  [w3] -->
        <link rel="stylesheet" type="text/css" href="css/w3.css"/>
        <!-- Site styles -->
        <link rel="stylesheet" type="text/css" href="css/site_styles.css"/>

        <!-- JavaScript libraries [Angular] -->
        <script src="js/angular.js" ></script>
        <script src="js/angular-route.js" ></script>
        <script src="js/angular-route.min.js" ></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!--  -->
        <script src="js/SiteRouteProvider.js" ></script>
        <script src="js/controller.js" ></script>
    </head>
    <body class="home-icon">
       <div class=" " style="background-color: #f9f9f9;">
           <div class="nav-pic">
                <div class="top-nav ">
                    <i class="auth-user"></i><span  ng-if="userName !== null">{{userName}} | {{role}}</span>     
                    <div class="list-right">
                        <ul>
                            <li><b id="sysTime"></b></li>
                        </ul>
                        <ul >

                            <li style="width: 50%;float:right;text-align: right" ng-if="userName !== null" ng-click="signOut()" >
                                Logout
                            </li>
                            <li style="width: 50%;" ng-if="userName === null">

                            </li>
                            <li><a ></a></li>

                        </ul><br/>

                    </div>
                </div>
            </div>
                <div class="side-nav">
                <div class="header">
                    <center><b>TUT ATTENDANCE SYSTEM</b></center>
                </div>
                <div class="testing">
                    <div class="item" ng-click="goto('/index')">Home<i class="home-icon"></i></div>
                    <div class="item " ng-click="goto('/addNewCourse')"><i class="add-icon"></i>New course</div>
                    <div class="item " ng-click="goto('/addNewSubject')"><i class="add-icon"></i>New subject</div>
                    <div class="item " ng-click="goto('/RegisterStudent')"><i class="someone-new-icon"></i>Add student</div>
                    <div class="item " ng-click="displayAllStudents()"><i class="view-list-icon"></i>View students</div>
                    <div class="item " ng-click="displayAllStudents()"><i class="delete-someone-icon "></i>Remove student</div>
                    <div class="item" ng-click="goto('/registerLecturer')" ><i class="someone-new-icon"></i>Add lecturer</div>
                    <div class="item active" ng-click="displayAllLecturers()" ><i class="view-list-icon"></i>View lecturer</div>
                    <div class="item active" ng-click="displayAllLecturers()" ><i class="delete-someone-icon"></i>Remove lecturer</div>
                </div>

            </div>
            <div class="container-fluid page-body" >
                
                
                <div class="" ng-if="lecOn" >
                    <div class="jumbotron"  >
                        <h2>Your Subjects will be displayed here</h2>      
                        <hr/>       
                        <p>This is just a place holder</p>
                    </div>
                </div>
                    

            </div>


        </div>
    </body>

    <!-- Mirrored from www.w3schools.com/bootstrap/tryit.asp?filename=trybs_case_navbar&stacked=h by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Oct 2015 17:49:42 GMT -->
</html>

